<div class="row gallerie">
{% for item in site.categories.["livres"] %}
	{% assign vignette_url = item.path | split: '/' | last | split: '.' | first | append: "-300x300.jpg" %}
	{% assign vignette_path =  '/images-livres/' | append: vignette_url %}
	{% assign vignette_found =  false %}
	{% for static_file in site.static_files %}
		{% if static_file.path == vignette_path %}
			{% assign vignette_found =  true %}
			{% break %}
		{% endif %}
	{% endfor %}
	{% if vignette_found %}
		{% assign vignette_url = "../../images-livres/" | append: vignette_url %}
	{% else %}
		{% assign vignette_url = "../../images-livres/point-interrogation.png" %}
	{% endif %}
	<div class="col-sm-4 col-xs-6">
		<div class="panel panel-default vignette">
			<div class="panel-thumbnail"><a href="{{ thisbaseurl }}{{ item.url }}" title="Renovations"><img src="{{ vignette_url }}" class="img-responsive"></a></div>
			<div class="panel-body">
				<p>{{ item.title }}</p>
			</div>
		</div><!--/panel-->
	</div><!--/col-->
{% endfor %}
</div>
