

$contrast-color: hsl(201, 67%, 61%);

body, html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

/* ———— */
div.page-text {
	table.table {
		margin-bottom: 50px;
		td {
			text-align: left;
		}
		td:nth-child( 2 ) {
			text-align: right;
		}
		small {
			color: brown;
		}
	}
}



.align-center {
	text-align: center !important;
}
.align-left {
	text-align: left !important;
}
.align-right {
	text-align: right !important;
}

