---
layout: pretty-print-basic
---
<html lang="{{ site.locale }}">
{% include head.html %}
	<body id="page">
{% include analyticstracking.html %}

{% include menu-top.html %}

<div class="jumbotron">
</div>

<div class="container content" id="p">
	<div class="row header">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 titre-principal">
			<h1 class="animated pulse">{{ site.data.infos.slogan }}</h1>
			{% include prev-next-buttons.html %}
		</div>
	</div>
	<div class="row">
		<div class=" page-inner-text">
		{{ content }}
		</div>
	</div>
	<div class="row">
		{% include prev-next-buttons.html %}
	</div>
</div>

{% include footer.html %}

	</body>
</html>
